@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: 1fff;
}


.container {
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    width: 75%;
    text-align: center;
    
    
}

.header h1 {
    text-transform: uppercase;
}

.image-container {   
    clip-path: circle(50% at 50% 50%);
    background-image: url('../img/profile1.jpg');
    background-size: cover;
    background-position: center;
    height: 450px;
    width: 450px;
    margin: 2rem auto;  
}

.navigation ul li {
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    font-size: 2rem;
    padding: 1rem;
    width: 16rem;
    margin: 3rem 0;
}

.navigation ul li:not(:last-child) {
    margin-right: 6rem;
}


.main-container {
    margin: 0 auto;
    width: 75%;
}

.main-container div {
    margin-bottom: 2rem;
}

.main-container h1 {
    margin-bottom: 5rem;
}

.main-container p {
    text-align: justify;
}

.footer {
    font-size: 2rem;
    padding: 2rem;
}

.footer ul {
    list-style: none;
    margin-bottom: 3rem;
}

.footer ul li {
    display: inline-block;
    margin: 2rem;
}

.footer ul a {
    color: #777;
    text-decoration: none;
}


@media (min-width: 480px) {
    /*muuda image-container taustapilti*/
    /*muuda dokumendi taustavärvi*/
    /*muuda dokumendi tekstivärvi*/
    /*ära unusta ka raamjoonesid*/
    body {
        background-color: blue;
    }

    .container {
        width: 100%;
        background-color: blue;
        
    }
    .image-container {
        clip-path: circle(50% at 50% 50%);
        background-image: url('../img/profile2.jpg');
        background-size: cover;
        background-position: center;
        height: 450px;
        width: 450px;
        margin: 2rem auto; 
    }
    .header {
        margin: 0rem;
    }
       

    .navigation ul li {
        display: block;
        font-size: 1rem;
        margin: 0;
        width: 100%;
        border: 1px solid rgb(214, 200, 200);
        color:antiquewhite;
    }
    .navigation ul li:not(:last-child) {
        border-bottom: none;
        
    }
    .header h1 {
        color:antiquewhite;
    }
    

    .main-container {
        padding: 0.75rem;
        width: 100%;
        color:antiquewhite;
    }

    .main-container h1 {
        margin: 1rem auto;
        
    }
    
}


@media (min-width: 768px) {
    body {
        background-color: green;
    }

    /*muuda image-container taustapilti*/
    /*muuda dokumendi taustavärvi*/
    /*muuda dokumendi tekstivärvi*/
    /*ära unusta ka raamjoonesid*/
    .container {
        width: 100%;
        background-color: green;
    }
    .image-container {
        clip-path: circle(50% at 50% 50%);
        background-image: url('../img/profile3.jpg');
        background-size: cover;
        background-position: center;
        height: 450px;
        width: 450px;
        margin: 2rem auto; 
    }
    .navigation ul li {
        display: block;
        font-size: 1rem;
        margin: 0;
        width: 100%;
        border: 1px solid rgb(136, 97, 97);
        color:rgb(202, 190, 173);
    .navigation ul li:not(:last-child) {
        border-bottom: none;
        
    }
    .header h1 {
        color:rgb(202, 190, 173);
    }
    

    .main-container {
        padding: 0.75rem;
        width: 100%;
        color:rgb(202, 190, 173);
    }

    .main-container h1 {
        margin: 1rem auto;
        
    }
}


@media (min-width: 1024px){
    body {
        background-color: red;
    }
        
    /*muuda image-container taustapilti*/
    /*muuda dokumendi taustavärvi*/
    /*muuda dokumendi tekstivärvi*/
    /*ära unusta ka raamjoonesid*/
    .container {
        width: 100%;
        background-color: red;
    }
    .image-container {
        clip-path: circle(50% at 50% 50%);
        background-image: url('../img/profile4.jpg');
        background-size: cover;
        background-position: center;
        height: 450px;
        width: 450px;
        margin: 2rem auto; 
    }
    .navigation ul li {
        display: block;
        font-size: 1rem;
        margin: 0;
        width: 100%;
        border: 1px solid rgb(98, 136, 97);
        color:rgb(173, 202, 200);
    }
    .navigation ul li:not(:last-child) {
        border-bottom: none;
        
    }
    .header h1 {
        color:rgb(173, 202, 200);
    }
    

    .main-container {
        padding: 0.75rem;
        width: 100%;
        color:rgb(173, 202, 200);
    }

    .main-container h1 {
        margin: 1rem auto;
        
    }
}


@media (min-width: 1200px){
    body {
        background-color: blueviolet;
    }

    /*muuda image-container taustapilti*/
    /*muuda dokumendi taustavärvi*/
    /*muuda dokumendi tekstivärvi*/
    /*ära unusta ka raamjoonesid*/
    .container {
        width: 100%;
        background-color: blueviolet;
        
    }
    .image-container {
        clip-path: circle(50% at 50% 50%);
        background-image: url('../img/profile1.jpg');
        background-size: cover;
        background-position: center;
        height: 450px;
        width: 450px;
        margin: 2rem auto; 
       
    }
    .navigation ul li {
        display: block;
        font-size: 1rem;
        margin: 0;
        width: 100%;
        border: 1px solid rgb(191, 196, 191);
        color:rgb(199, 202, 173);
    }
    .header {
        margin-top: 0rem;
    }
       

    .header h1 {
        margin: 3rem auto;
        color:rgb(199, 202, 173);
    }
    .navigation ul li {
        display: inline-block;
        width: 16rem;
    }
    
    .navigation ul li:not(:last-child) {
        border-bottom: 1px solid azure;
        margin-right: 4rem;
    }

    .main-container {
        width: 75%;
        color:azure;
    }

}

}